/* Calendar Button Row */
.buttonRow {
    margin: 1rem 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: space-between;
}

.buttonRow button {
    flex: 1;
    min-width: 45%;
    min-height: 48px;
    border-radius: 8px;
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
}

/* Calendar Button Styles */
.appleBtn {
    background-color: #333;
    color: white;
}

.appleBtn:hover {
    background-color: #111;
}

.googleBtn {
    background-color: #da0c0c;
    color: white;
}

.googleBtn:hover {
    background-color: #980606;
}

.outlookBtn {
    background-color: #0078d4;
    color: white;
}

.outlookBtn:hover {
    background-color: #005da0;
}


/* Form */
.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1rem;
}

.form .inputs {
    display: flex;
    flex-direction: column;
}

.form .inputs label {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
}

.form input {
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    background-color: var(--background-color);
    color: var(--text-color);
    transition: border-color 0.2s ease;
    overflow: visible;
    margin: 2px;
}

.form input:hover,
textarea:hover {
    border-color: var(--accent-color);
    outline: none;
}